{% extends 'base.html' %}

{% block title %}Fazenda{% endblock %}

{% block container %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Fazenda</h1>
			<div class="col-lg-8">
			<table class="table table-striped">
				<tr>
					<td>Nome</td>
					<td>{{ farm.name }}
				</tr>
				<tr>
					<td>Área Integral</td>
					<td>{{ farm.full_area }}</td>
				</tr>
				<tr>
					<td>Área Não Cultivada</td>
					<td>{{ farm.uncultivated_area }}</td>
				</tr>
				<tr>
					<td>Criada em</td>
					<td>{{ farm.created_at|date:"d/m/Y" }}</td>
				</tr>
			</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

